<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed == true %>
    <input type="checkbox" name="<%= task.title.downcase %>" class="task" value="<%= task.title.downcase %>" checked>
    <label for="<%= task.title.downcase %>"><a href="<%= "show/#{task.id}" %>"><%= task.title %>&nbsp;&middot;&nbsp;</a></label>
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%="/tasks/#{task.id}"%>" class="trash">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>trash-simple</title><g fill="#561A8B"><path fill="#561A8B" d="M3,8v15c0,0.552,0.448,1,1,1h16c0.552,0,1-0.448,1-1V8H3z M9,19H7v-6h2V19z M13,19h-2v-6h2V19z M17,19h-2v-6 h2V19z"></path> <path d="M23,4h-6V1c0-0.552-0.447-1-1-1H8C7.447,0,7,0.448,7,1v3H1C0.447,4,0,4.448,0,5s0.447,1,1,1 h22c0.553,0,1-0.448,1-1S23.553,4,23,4z M9,2h6v2H9V2z"></path></g></svg>
    </a><br>

  <% else %>
    <input type="checkbox" name="<%= task.title.downcase %>" class="task" value="<%= task.title.downcase %>">
    <label for="<%= task.title.downcase %>"><a href="<%= "show/#{task.id}" %>"><%= task.title %>&nbsp;&middot;&nbsp;</a></label>
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%="/tasks/#{task.id}"%>" class="trash">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>trash-simple</title><g fill="#561A8B"><path fill="#561A8B" d="M3,8v15c0,0.552,0.448,1,1,1h16c0.552,0,1-0.448,1-1V8H3z M9,19H7v-6h2V19z M13,19h-2v-6h2V19z M17,19h-2v-6 h2V19z"></path> <path d="M23,4h-6V1c0-0.552-0.447-1-1-1H8C7.447,0,7,0.448,7,1v3H1C0.447,4,0,4.448,0,5s0.447,1,1,1 h22c0.553,0,1-0.448,1-1S23.553,4,23,4z M9,2h6v2H9V2z"></path></g></svg>
    </a><br>
  <% end %>
<% end %>
<hr>
<div class="wrapper">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><title>ic_add_48px</title>
      <g>
          <path d="M38 26H26v12h-4V26H10v-4h12V10h4v12h12v4z"></path>
      </g>
  </svg><%= link_to 'Add new task', new_path, class: "new-task" %>
</div>
